@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4"><center>Healthy Diet</center></h1>
<div class="text-left">    
    <p>A healthy diet is essential for good health and nutrition.</p>
    <p>It protects you against many chronic noncommunicable diseases, such as heart disease, diabetes and cancer. Eating a variety of foods and consuming less salt, sugars and saturated and industrially-produced trans-fats, are essential for healthy diet.</p>
    <p>A healthy diet comprises a combination of different foods. These include:</p>
    <ul>
        <li>
            Staples like cereals (wheat, barley, rye, maize or rice) or starchy tubers or roots (potato, yam, taro or cassava).
         </li>
        <li>
            Legumes (lentils and beans).
         </li>   
        <li>
            Fruit and vegetables.
        </li>
        <li>
            Foods from animal sources (meat, fish, eggs and milk).
        </li>
    </ul>
    <p>
        Here is some useful information, based on WHO recommendations, to follow a healthy diet, and the benefits of doing so.
    </p>
    <ul>
        <li>
            Breastfeed babies and young children:
            <ul>
                <li>
                    A healthy diet starts early in life - breastfeeding fosters healthy growth, and may have longer-term health benefits, like reducing the risk of becoming overweight or obese and developing noncommunicable diseases later in life.
                </li>
                <li>
                    Feeding babies exclusively with breast milk from birth to 6 months of life is important for a healthy diet. It is also important to introduce a variety of safe and nutritious complementary foods at 6 months of age, while continuing to breastfeed until your child is two years old and beyond.
                </li>
            </ul>
        </li>

        <li>
            Eat plenty of vegetables and fruit:
            <ul>
                <li>
                    They are important sources of vitamins, minerals, dietary fibre, plant protein and antioxidants.
                </li>
                <li>
                    People with diets rich in vegetables and fruit have a significantly lower risk of obesity, heart disease, stroke, diabetes and certain types of cancer.
                </li>
            </ul>
        </li>
        <li>
            Eat less fat:
            <ul>
                <li>
                    Fats and oils and concentrated sources of energy. Eating too much, particularly the wrong kinds of fat, like saturated and industrially-produced trans-fat, can increase the risk of heart disease and stroke.
                </li>
                <li>
                    Using unsaturated vegetable oils (olive, soy, sunflower or corn oil) rather than animal fats or oils high in saturated fats (butter, ghee, lard, coconut and palm oil) will help consume healthier fats.
                </li>
                <li>
                    To avoid unhealthy weight gain, consumption of total fat should not exceed 30% of a person's overall energy intake.
                </li>
            </ul>
        </li>
        <li>
            Limit intake of sugars:
            <ul>
                <li>
                    For a healthy diet, sugars should represent less than 10% of your total energy intake. Reducing even further to under 5% has additional health benefits.
                </li>
                <li>
                    Choosing fresh fruits instead of sweet snacks such as cookies, cakes and chocolate helps reduce consumption of sugars.
                </li>
                <li>
                    Limiting intake of soft drinks, soda and other drinks high in sugars (fruit juices, cordials and syrups, flavoured milks and yogurt drinks) also helps reduce intake of sugars.
                </li>
            </ul>
        </li>
        <li>
            Reduce salt intake:
            <ul>
                <li>
                    Keeping your salt intake to less than 5h per day helps prevent hypertension and reduces the risk of heart disease and stroke in the adult population.
                </li>
                <li>
                    Limiting the amount of salt and high-sodium condiments (soy sauce and fish sauce) when cooking and preparing foods helps reduce salt intake.
                </li>
            </ul>
        </li>
    </ul>
</div>
